In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv')

In [2]:
print("shape of dataframe : ",df.shape)
print("number of rows : ",df.shape[0])
print("number of columns : ",df.shape[1])

shape of dataframe :  (57394, 49)
number of rows :  57394
number of columns :  49

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 49 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            57071 non-null  object
 1   continent                           56748 non-null  object
 2   location                            57394 non-null  object
 3   date                                57394 non-null  object
 4   total_cases                         53758 non-null  float64
 5   new_cases                           56465 non-null  float64
 6   new_cases_smoothed                  55652 non-null  float64
 7   total_deaths                        44368 non-null  float64
 8   new_deaths                          56465 non-null  float64
 9   new_deaths_smoothed                 55652 non-null  float64
 10  total_cases_per_million             53471 non-null  float64
 11  new_cases_per_million               56401 non-null  float64
 12  new_cases_smoothed_per_million      55587 non-null  float64
 13  total_deaths_per_million            44096 non-null  float64
 14  new_deaths_per_million              56401 non-null  float64
 15  new_deaths_smoothed_per_million     55587 non-null  float64
 16  reproduction_rate                   37696 non-null  float64
 17  icu_patients                        4490 non-null   float64
 18  icu_patients_per_million            4490 non-null   float64
 19  hosp_patients                       5005 non-null   float64
 20  hosp_patients_per_million           5005 non-null   float64
 21  weekly_icu_admissions               357 non-null    float64
 22  weekly_icu_admissions_per_million   357 non-null    float64
 23  weekly_hosp_admissions              645 non-null    float64
 24  weekly_hosp_admissions_per_million  645 non-null    float64
 25  total_tests                         22017 non-null  float64
 26  new_tests                           21787 non-null  float64
 27  total_tests_per_thousand            22017 non-null  float64
 28  new_tests_per_thousand              21787 non-null  float64
 29  new_tests_smoothed                  24612 non-null  float64
 30  new_tests_smoothed_per_thousand     24612 non-null  float64
 31  tests_per_case                      22802 non-null  float64
 32  positive_rate                       23211 non-null  float64
 33  stringency_index                    47847 non-null  float64
 34  population                          57071 non-null  float64
 35  population_density                  54371 non-null  float64
 36  median_age                          51034 non-null  float64
 37  aged_65_older                       50265 non-null  float64
 38  aged_70_older                       50768 non-null  float64
 39  gdp_per_capita                      50367 non-null  float64
 40  extreme_poverty                     33571 non-null  float64
 41  cardiovasc_death_rate               51013 non-null  float64
 42  diabetes_prevalence                 52881 non-null  float64
 43  female_smokers                      39669 non-null  float64
 44  male_smokers                        39156 non-null  float64
 45  handwashing_facilities              24176 non-null  float64
 46  hospital_beds_per_thousand          45936 non-null  float64
 47  life_expectancy                     56336 non-null  float64
 48  human_development_index             49247 non-null  float64
dtypes: float64(45), object(4)
memory usage: 21.5+ MB

In [3]:
print(df['location'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus'
 'Czech Republic' 'Democratic Republic of Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Falkland Islands' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland'
 'Grenada' 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan'
 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turks and Caicos Islands' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican'
 'Venezuela' 'Vietnam' 'Wallis and Futuna' 'Western Sahara' 'Yemen'
 'Zambia' 'Zimbabwe' 'World' 'International']

In [4]:
df['continent'].value_counts().idxmax()

'Europe'

In [3]:
import numpy as np
df.iloc[:,:4].apply(np.mean)

TypeError: can only concatenate str (not "int") to str

In [11]:
import pandas as pd
df.quantile([.25, .5, .75], axis = 0)

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0.25,180.00,0.0,0.857,13.0,0.0,0.000,90.033,0.000,0.2600,3.97775,...,5321.444,0.5,156.139,5.31,1.9,21.4,21.222,1.3,69.870,0.601
0.50,2070.00,14.0,19.429,84.0,0.0,0.286,593.663,2.194,3.8630,20.38300,...,13913.839,2.0,238.339,7.11,6.4,31.4,52.232,2.5,75.345,0.752
0.75,22356.75,235.0,245.286,727.0,4.0,4.000,3487.050,25.941,29.6785,90.57125,...,31400.840,18.1,318.991,10.39,19.6,40.9,83.741,4.2,79.380,0.847

In [7]:
maxClm = df['human_development_index'].max()
 
print("Maximum value in column 'human_development_index': " )
print(maxClm)

Maximum value in column 'human_development_index':
0.953

In [8]:
maxClm = df['gdp_per_capita'].max()
 
print("gdp_per_capita': " )
print(maxClm)

gdp_per_capita':
116935.6

In [15]:
filter(items=['2','3','4','5','8','40','49'])

TypeError: filter() takes no keyword arguments

In [16]:
df = df.drop_duplicates()
print(df)

      iso_code continent       location      date  total_cases  new_cases  \
0          AFG      Asia    Afghanistan  31/12/19          NaN        0.0
1          AFG      Asia    Afghanistan  01/01/20          NaN        0.0
2          AFG      Asia    Afghanistan  02/01/20          NaN        0.0
3          AFG      Asia    Afghanistan  03/01/20          NaN        0.0
4          AFG      Asia    Afghanistan  04/01/20          NaN        0.0
...        ...       ...            ...       ...          ...        ...
57389      NaN       NaN  International  13/11/20        696.0        NaN
57390      NaN       NaN  International  14/11/20        696.0        NaN
57391      NaN       NaN  International  15/11/20        696.0        NaN
57392      NaN       NaN  International  16/11/20        696.0        NaN
57393      NaN       NaN  International  17/11/20        696.0        NaN

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                     NaN           NaN         0.0                  NaN  ...
1                     NaN           NaN         0.0                  NaN  ...
2                     NaN           NaN         0.0                  NaN  ...
3                     NaN           NaN         0.0                  NaN  ...
4                     NaN           NaN         0.0                  NaN  ...
...                   ...           ...         ...                  ...  ...
57389                 NaN           7.0         NaN                  NaN  ...
57390                 NaN           7.0         NaN                  NaN  ...
57391                 NaN           7.0         NaN                  NaN  ...
57392                 NaN           7.0         NaN                  NaN  ...
57393                 NaN           7.0         NaN                  NaN  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0            1803.987              NaN                597.029
1            1803.987              NaN                597.029
2            1803.987              NaN                597.029
3            1803.987              NaN                597.029
4            1803.987              NaN                597.029
...               ...              ...                    ...
57389             NaN              NaN                    NaN
57390             NaN              NaN                    NaN
57391             NaN              NaN                    NaN
57392             NaN              NaN                    NaN
57393             NaN              NaN                    NaN

       diabetes_prevalence  female_smokers  male_smokers  \
0                     9.59             NaN           NaN
1                     9.59             NaN           NaN
2                     9.59             NaN           NaN
3                     9.59             NaN           NaN
4                     9.59             NaN           NaN
...                    ...             ...           ...
57389                  NaN             NaN           NaN
57390                  NaN             NaN           NaN
57391                  NaN             NaN           NaN
57392                  NaN             NaN           NaN
57393                  NaN             NaN           NaN

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
0                      37.746                         0.5            64.83
1                      37.746                         0.5            64.83
2                      37.746                         0.5            64.83
3                      37.746                         0.5            64.83
4                      37.746                         0.5            64.83
...                       ...                         ...              ...
57389                     NaN                         NaN              NaN
57390                     NaN                         NaN              NaN
57391                     NaN                         NaN              NaN
57392                     NaN                         NaN              NaN
57393                     NaN                         NaN              NaN

       human_development_index
0                        0.498
1                        0.498
2                        0.498
3                        0.498
4                        0.498
...                        ...
57389                      NaN
57390                      NaN
57391                      NaN
57392                      NaN
57393                      NaN

[57394 rows x 49 columns]

In [17]:
df.isnull().any()

iso_code                               True
continent                              True
location                              False
date                                  False
total_cases                            True
new_cases                              True
new_cases_smoothed                     True
total_deaths                           True
new_deaths                             True
new_deaths_smoothed                    True
total_cases_per_million                True
new_cases_per_million                  True
new_cases_smoothed_per_million         True
total_deaths_per_million               True
new_deaths_per_million                 True
new_deaths_smoothed_per_million        True
reproduction_rate                      True
icu_patients                           True
icu_patients_per_million               True
hosp_patients                          True
hosp_patients_per_million              True
weekly_icu_admissions                  True
weekly_icu_admissions_per_million      True
weekly_hosp_admissions                 True
weekly_hosp_admissions_per_million     True
total_tests                            True
new_tests                              True
total_tests_per_thousand               True
new_tests_per_thousand                 True
new_tests_smoothed                     True
new_tests_smoothed_per_thousand        True
tests_per_case                         True
positive_rate                          True
stringency_index                       True
population                             True
population_density                     True
median_age                             True
aged_65_older                          True
aged_70_older                          True
gdp_per_capita                         True
extreme_poverty                        True
cardiovasc_death_rate                  True
diabetes_prevalence                    True
female_smokers                         True
male_smokers                           True
handwashing_facilities                 True
hospital_beds_per_thousand             True
life_expectancy                        True
human_development_index                True
dtype: bool

In [19]:
updated_df = df.dropna(axis=0)
y1 = updated_df['continent']
updated_df.drop("continent",axis=1,inplace=True)
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 48 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            0 non-null      object
 1   location                            0 non-null      object
 2   date                                0 non-null      object
 3   total_cases                         0 non-null      float64
 4   new_cases                           0 non-null      float64
 5   new_cases_smoothed                  0 non-null      float64
 6   total_deaths                        0 non-null      float64
 7   new_deaths                          0 non-null      float64
 8   new_deaths_smoothed                 0 non-null      float64
 9   total_cases_per_million             0 non-null      float64
 10  new_cases_per_million               0 non-null      float64
 11  new_cases_smoothed_per_million      0 non-null      float64
 12  total_deaths_per_million            0 non-null      float64
 13  new_deaths_per_million              0 non-null      float64
 14  new_deaths_smoothed_per_million     0 non-null      float64
 15  reproduction_rate                   0 non-null      float64
 16  icu_patients                        0 non-null      float64
 17  icu_patients_per_million            0 non-null      float64
 18  hosp_patients                       0 non-null      float64
 19  hosp_patients_per_million           0 non-null      float64
 20  weekly_icu_admissions               0 non-null      float64
 21  weekly_icu_admissions_per_million   0 non-null      float64
 22  weekly_hosp_admissions              0 non-null      float64
 23  weekly_hosp_admissions_per_million  0 non-null      float64
 24  total_tests                         0 non-null      float64
 25  new_tests                           0 non-null      float64
 26  total_tests_per_thousand            0 non-null      float64
 27  new_tests_per_thousand              0 non-null      float64
 28  new_tests_smoothed                  0 non-null      float64
 29  new_tests_smoothed_per_thousand     0 non-null      float64
 30  tests_per_case                      0 non-null      float64
 31  positive_rate                       0 non-null      float64
 32  stringency_index                    0 non-null      float64
 33  population                          0 non-null      float64
 34  population_density                  0 non-null      float64
 35  median_age                          0 non-null      float64
 36  aged_65_older                       0 non-null      float64
 37  aged_70_older                       0 non-null      float64
 38  gdp_per_capita                      0 non-null      float64
 39  extreme_poverty                     0 non-null      float64
 40  cardiovasc_death_rate               0 non-null      float64
 41  diabetes_prevalence                 0 non-null      float64
 42  female_smokers                      0 non-null      float64
 43  male_smokers                        0 non-null      float64
 44  handwashing_facilities              0 non-null      float64
 45  hospital_beds_per_thousand          0 non-null      float64
 46  life_expectancy                     0 non-null      float64
 47  human_development_index             0 non-null      float64
dtypes: float64(45), object(3)
memory usage: 0.0+ bytes

C:\Users\SANU2\AppData\Local\Temp/ipykernel_15264/1901048786.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_df.drop("continent",axis=1,inplace=True)

In [20]:
df['date']= pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57394 entries, 0 to 57393
Data columns (total 49 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            57071 non-null  object
 1   continent                           56748 non-null  object
 2   location                            57394 non-null  object
 3   date                                57394 non-null  datetime64[ns]
 4   total_cases                         53758 non-null  float64
 5   new_cases                           56465 non-null  float64
 6   new_cases_smoothed                  55652 non-null  float64
 7   total_deaths                        44368 non-null  float64
 8   new_deaths                          56465 non-null  float64
 9   new_deaths_smoothed                 55652 non-null  float64
 10  total_cases_per_million             53471 non-null  float64
 11  new_cases_per_million               56401 non-null  float64
 12  new_cases_smoothed_per_million      55587 non-null  float64
 13  total_deaths_per_million            44096 non-null  float64
 14  new_deaths_per_million              56401 non-null  float64
 15  new_deaths_smoothed_per_million     55587 non-null  float64
 16  reproduction_rate                   37696 non-null  float64
 17  icu_patients                        4490 non-null   float64
 18  icu_patients_per_million            4490 non-null   float64
 19  hosp_patients                       5005 non-null   float64
 20  hosp_patients_per_million           5005 non-null   float64
 21  weekly_icu_admissions               357 non-null    float64
 22  weekly_icu_admissions_per_million   357 non-null    float64
 23  weekly_hosp_admissions              645 non-null    float64
 24  weekly_hosp_admissions_per_million  645 non-null    float64
 25  total_tests                         22017 non-null  float64
 26  new_tests                           21787 non-null  float64
 27  total_tests_per_thousand            22017 non-null  float64
 28  new_tests_per_thousand              21787 non-null  float64
 29  new_tests_smoothed                  24612 non-null  float64
 30  new_tests_smoothed_per_thousand     24612 non-null  float64
 31  tests_per_case                      22802 non-null  float64
 32  positive_rate                       23211 non-null  float64
 33  stringency_index                    47847 non-null  float64
 34  population                          57071 non-null  float64
 35  population_density                  54371 non-null  float64
 36  median_age                          51034 non-null  float64
 37  aged_65_older                       50265 non-null  float64
 38  aged_70_older                       50768 non-null  float64
 39  gdp_per_capita                      50367 non-null  float64
 40  extreme_poverty                     33571 non-null  float64
 41  cardiovasc_death_rate               51013 non-null  float64
 42  diabetes_prevalence                 52881 non-null  float64
 43  female_smokers                      39669 non-null  float64
 44  male_smokers                        39156 non-null  float64
 45  handwashing_facilities              24176 non-null  float64
 46  hospital_beds_per_thousand          45936 non-null  float64
 47  life_expectancy                     56336 non-null  float64
 48  human_development_index             49247 non-null  float64
dtypes: datetime64[ns](1), float64(45), object(3)
memory usage: 21.9+ MB

In [22]:
df.groupby('continent').max()
df.reset_index()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0,AFG,Asia,Afghanistan,2019-12-31,NaN,0.0,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,1,AFG,Asia,Afghanistan,2020-01-01,NaN,0.0,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,2,AFG,Asia,Afghanistan,2020-02-01,NaN,0.0,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,3,AFG,Asia,Afghanistan,2020-03-01,NaN,0.0,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,4,AFG,Asia,Afghanistan,2020-04-01,NaN,0.0,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,57389,NaN,NaN,International,2020-11-13,696.0,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57390,57390,NaN,NaN,International,2020-11-14,696.0,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57391,57391,NaN,NaN,International,2020-11-15,696.0,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57392,57392,NaN,NaN,International,2020-11-16,696.0,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57393,57393,NaN,NaN,International,2020-11-17,696.0,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df['total_deaths_to_total_cases'] = df['total_deaths']/df['total_cases']